$font--text: "Fahkwang", sans-serif;

$primary-color-light: #527a51;
$primary-color-medium: #446943;
$primary-color-dark: #395c38;

$primary-color-light-10: rgba(82, 122, 81, 0.1);
$primary-color-light-25: rgba(82, 122, 81, 0.25);

$secondary-color-dark: #333333;
$secondary-color-light: #f8f8f8;

$breakpoints: (
    sm: 26.75rem,
    md: 48rem,
    lg: 64rem,
    xl: 80rem,
);
