$font--display: "Viaoda Libre", serif;
$font--text: "FiraSans-Light", sans-serif;

$font--color: #1d1d1d;
$background--color: #ececec;
$primary--color: #3c5237;
$secondary--color: #dadada;

$breakpoints: (
    sm: 26.75rem,
    md: 48rem,
    lg: 64rem,
    xl: 80rem,
);
