$font--text: "Alte Haas Grotesk", sans-serif;
$font--heading: "Candu Rounded", serif;
$font--display: "Candu Rounded", serif;

$color--seaweed: #1d3423;
$color--greenie: #f7fbf8;
$color--accent: #729c6e;
$color--accent-light: #deede2;

$color--void: #171717;
$color--snow: #ffffff;
$color--ash: #f6f6f6;

$primary-color-light: #527a51;
$primary-color-medium: #446943;
$primary-color-dark: #395c38;

$primary-color-light-10: rgba(82, 122, 81, 0.1);
$primary-color-light-25: rgba(82, 122, 81, 0.25);

$secondary-color-dark: #333333;
$secondary-color-light: #f8f8f8;

$breakpoints: (
    sm: 26.75rem,
    sm-md: 35rem,
    md: 48rem,
    lg: 64rem,
    xl: 80rem,
);
