.post-content {
    header {
        * {
            margin: 0;
        }

        h1 {
            font-size: 2.25rem;
            line-height: 2.125rem;

            @include screen-query(sm) {
                font-size: 3rem;
                line-height: 2.875rem;
            }
        }

        div {
            font-size: 0.875rem;
            margin-bottom: 0.625rem;
            line-height: 1.125rem;

            @include screen-query(sm) {
                font-size: 1rem;
            }

            time {
                text-transform: uppercase;
                opacity: 0.7;
                margin-right: 1.5625rem;
            }

            span {
                display: inline-flex;
                align-items: center;

                span {
                    font-size: 0.3125rem;
                    margin: 0 0.3125rem;
                }
            }
        }
    }

    figcaption {
        display: none;
    }

    figure {
        text-align: center;
    }

    a {
        display: inline-block;
        font-weight: bold;
    }

    blockquote {
        @include gradient-border(180deg);
        border-left: 5px solid transparent;
        margin: 1em;
        padding-left: 1em;
    }

    code:not([class]) {
        background-color: $color--ash;
        color: $color--void;
        padding: 0 0.4rem;
        border-radius: 0.3em;
    }
}
