<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Quinn Tenorio {% if title %}| {{ title }}{% endif %}
        </title>
        <meta name="description" content="{% if description %}{{ description }}
            {% else %}The personal site of Quinn Tenorio{% endif %}" />

        <link rel="stylesheet" href="{{ '/assets/styles/main.min.css' | url }}">
        
        <link rel="icon" type="image/ico" sizes="32x32" href="/assets/meta/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/meta/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/meta/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/meta/favicon-16x16.png" />
        <link rel="manifest" href="/assets/meta/manifest.json" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="theme-color" content="#ffffff" />

        <meta property="og:title" content="Quinn Tenorio {% if title %}|{% endif %} {% if title %}{{ title }}{% endif %}"/>
        <meta property="og:url" content={{ page.url | url }} />
        <meta property="og:description" content="{% if description %}{{ description }}
            {% else %}The personal site of Quinn Tenorio{% endif %}" />
        <meta property="og:type" content="article" />
        <meta name="twitter:description" content="{% if description %}{{ description }}
            {% else %}The personal site of Quinn Tenorio{% endif %}" />
        <meta name="twitter:site" content="@quinnktenorio" />
        <meta name="twitter:title" content="Quinn Tenorio {% if title %}|{% endif %} {% if title %}{{ title }}{% endif %}" />
        <meta name="twitter:card" content="summary_large_image" />

        {% if post and post.ogImage %}
        <meta name="twitter:image" content="{{ post.ogImage | url }}" />
        <meta property="og:image" content="{{ post.ogImage | url }}" />
        {% else %}
        <meta name="twitter:image" content="https://quinntenor.io/assets/meta/og-image-default.png" />
        <meta property="og:image" content="https://quinntenor.io/assets/meta/og-image-default.png" />
        {% endif %}

        <script async src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
        <script src="https://kit.fontawesome.com/b2c665dea1.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bricks.js/1.1.1/bricks.min.js"></script>
    </head>
    <body>
        <header>
            <a href="/" class="nav-brand" title="Quinn Tenorio" tabindex="0"><img src="/assets/images/logo.svg" alt="Quinn Tenorio logo"></a>
            <nav id="desktopNav" class="nav">
                <ul class="inline-navigation">
                    <li>
                        <a href="/blog" class="nav-item {% if page.url.includes('blog') %}nav-item-active{% endif %}"
                            >Blog</a
                        >
                    </li>
                    <li>
                        <a href="/books" class="nav-item {% if page.url.includes('books') %}nav-item-active{% endif %}"
                            >Books</a
                        >
                    </li>
                    <li>
                        <a href="/media" class="nav-item {% if page.url.includes('media') %}nav-item-active{% endif %}"
                            >Media</a
                        >
                    </li>
                </ul>
            </nav>
            <button class="menu-toggle" aria-label="Open navigation menu" aria-controls="mobileNav" aria-expanded="false">
                <svg width="62" height="60" viewBox="0 0 62 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M60.3109 21.4967C59.101 15.544 56.0823 10.6379 51.2427 6.77831C46.4092 2.91875 41.0192 0.710699 35.0665 0.154149C29.1138 -0.402402 23.4636 0.547364 18.1159 3.01554C12.7682 5.47768 8.35206 9.1497 4.86757 14.0316C1.37703 18.9135 0.124789 24.2371 1.09875 30.0022C2.07272 35.7673 3.96015 41.0667 6.74895 45.9062C9.53775 50.7398 13.4699 54.5328 18.5333 57.2732C23.6028 60.0136 28.9263 60.6911 34.5039 59.2937C40.0815 57.8963 45.6893 55.8516 51.3153 53.1535C56.9413 50.4554 60.1476 45.9909 60.94 39.76C61.7325 33.529 61.5208 27.4372 60.3109 21.4846V21.4967Z" fill="currentColor"/>
                </svg>
            </button>
            <nav id="mobileNav">
                <div class="menu">
                    <a href="/blog" class="menu-link {% if page.url.includes('blog') %}nav-item-active{% endif %}">Blog</a>
                    <a href="/books" class="menu-link {% if page.url.includes('books') %}nav-item-active{% endif %}">Books</a>
                    <a href="/media" class="menu-link {% if page.url.includes('media') %}nav-item-active{% endif %}">Media</a>
                </div>
            </nav>
        </header>
        {% block content %} {{ content }} {% endblock %}
        {% if index %}
        <footer>
            <a href="mailto:hey@quinntenor.io">Email</a>
            <a href="https://linkedin.com/in/quinntenorio">LinkedIn</a>
            <a href="https://twitter.com/qxorio">Twitter</a>
            <a href="https://instagram.com/quinn.tenorio">Instagram</a>
        </footer>
        {% endif %}

        {# <div id="left" aria-hidden="true"></div>
        <div id="right" aria-hidden="true"></div>
        <div id="top" aria-hidden="true"></div>
        <div id="bottom" aria-hidden="true"></div> #}
    </body>
</html>


<script>
    class Menu {
        constructor(element) {
            this.menu = {
                element: element,
                toggle: document.querySelector('.menu-toggle'),
                menuLinks: document.querySelectorAll('nav#mobileNav .menu-link'),
                visible: false
            };
            this.menu.toggle.addEventListener('click', () => this.handleMenu());
        }

        handleMenu() {
            let elem = this.menu.element;
            let links = this.menu.menuLinks;
            
            if (!this.menu.visible) {
                elem.classList.add('menu-visible', 'move-in');
                links.forEach((link) => {
                    link.classList.add('move-in');
                });
                setTimeout(() => {
                    elem.classList.add('menu-move');
                    links.forEach((link) => {
                        link.classList.add('change');
                    });
                    this.menu.toggle.classList.add('active');
                    this.menu.toggle.ariaLabel = 'Close navigation menu';
                    debugger;
                    this.menu.toggle.setAttribute('aria-expanded', (!this.menu.visible).toString());
                }, 100);
                setTimeout(() => {
                    links.forEach((link) => {
                        link.classList.add('move-out');
                    });
                    elem.classList.add('move-out');

                    links.forEach((link) => {
                        link.classList.remove('move-in');
                    });
                    elem.classList.remove('move-in');
                }, 1000);
            } else {
                links.forEach((link) => {
                    link.classList.remove('change');
                });
                elem.classList.remove('menu-move');
                this.menu.toggle.classList.remove('active');
                this.menu.toggle.ariaLabel = 'Open navigation menu';
                this.menu.toggle.ariaExpanded = (!this.menu.visible).toString();

                setTimeout(() => {
                    elem.classList.remove('menu-visible', 'move-out');
                    links.forEach((link) => {
                        link.classList.remove('move-out');
                    });
                }, 1000);
            }

            this.menu.visible = !this.menu.visible;
        }
    }

    const navMenu = new Menu(document.querySelector('nav#mobileNav'));
</script>