<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            Quinn Tenorio {% if title %}| {{ title }}{% endif %}
        </title>
        <meta name="description" content="{% if description %}{{ description }}
            {% else %}The personal site of Quinn Tenorio{% endif %}" />

        <link rel="stylesheet" href="{{ '/assets/styles/main.min.css' | url }}">
        
        <link rel="icon" type="image/ico" sizes="32x32" href="/assets/meta/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/meta/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/meta/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/meta/favicon-16x16.png" />
        <link rel="manifest" href="/assets/meta/manifest.json" />
        <meta name="msapplication-TileColor" content="#ececec" />
        <meta name="theme-color" content="#ECECEC" />

        <meta property="og:title" content="Quinn Tenorio {% if title %}|{% endif %} {% if title %}{{ title }}{% endif %}"/>
        <meta property="og:url" content={{ page.url | url }} />
        <meta property="og:description" content="{% if description %}{{ description }}
            {% else %}The personal site of Quinn Tenorio{% endif %}" />
        <meta property="og:type" content="article" />
        <meta name="twitter:description" content="{% if description %}{{ description }}
            {% else %}The personal site of Quinn Tenorio{% endif %}" />
        <meta name="twitter:site" content="@quinnktenorio" />
        <meta name="twitter:title" content="Quinn Tenorio {% if title %}|{% endif %} {% if title %}{{ title }}{% endif %}" />
        <meta name="twitter:card" content="summary_large_image" />

        {% if post and post.ogImage %}
        <meta name="twitter:image" content="{{ post.ogImage | url }}" />
        <meta property="og:image" content="{{ post.ogImage | url }}" />
        {% else %}
        <meta name="twitter:image" content="https://quinntenor.io/assets/meta/og-image-default.jpg" />
        <meta property="og:image" content="https://quinntenor.io/assets/meta/og-image-default.jpg" />
        {% endif %}

        <script async src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
        <script src="https://kit.fontawesome.com/b2c665dea1.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bricks.js/1.1.1/bricks.min.js"></script>
    </head>
    <body>
        <div class="main-content">
            <nav>
                <a href="/" class="nav-brand"><img src="/assets/images/logo-gradient-dark.svg" alt="Quinn Tenorio logo"></a>
                <ul class="fa-ul">
                    <li>
                        <a href="/about" class="nav-item {% if page.url.includes('about') %}nav-item-active{% endif %}"
                            >About</a
                        >
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-circle"></i></span>
                        <a href="/portfolio" class="nav-item {% if page.url.includes('portfolio') %}nav-item-active{% endif %}"
                            >Portfolio</a
                        >
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-circle"></i></span>
                        <a href="/blog" class="nav-item {% if page.url.includes('posts') %}nav-item-active{% endif %}"
                            >Blog</a
                        >
                    </li>
                    <li>
                        <span class="fa-li"><i class="fa-solid fa-circle"></i></span>
                        <a href="/bookshelf" class="nav-item {% if page.url.includes('bookshelf') %}nav-item-active{% endif %}"
                            >Bookshelf</a
                        >
                    </li>
                </ul>
            </nav>
            {% block content %} {{ content }} {% endblock %}
            <footer>
                <span>&copy; 2022 </span><span class="fa-solid fa-circle"></span> <span class="name">Quinn Tenorio</span>
            </footer>
        </div>
    </body>
</html>
