---
title: Oops! Not Found
permalink: 404.html
---
{% extends 'layouts/layout.njk' %}

{% block content %}
<main class="four-zero-four">
    <h1 class="page-title">404</h1>
    <p class="page-subtitle">Sorry about that, it seems like that page can't be found.</p>
</main>
{% endblock %}