---
title: Oops! Not Found
permalink: 404.html
---
{% extends 'layouts/layout.njk' %}

{% block content %}
<main>
    <h1 class="display-title">404</h1>
    <p>Sorry, whatever you are looking for isn't here. If you think this is a mistake, feel free to <a class="link-styling" href="mailto:hey@quinntenor.io">email me</a> with the link in question.</p>
</main>
{% endblock %}