---
eleventyComputed: 
    title: "About"
---

{% extends 'layouts/layout.njk' %}

{% block content %}
<main class="about inner-content">
    <h1 class="page-title">About</h1>
    <p>Heya, I'm Quinn Tenorio. I'm a front end engineer based in Denver, Colorado. I'm good at straddling the line between design and development. My education and background is originally in software development, but I decided to hop over to design. Designing and building accessible products for people from all walks of life is important to me.</p>
    <p>Outside of the internet, you can catch me making pottery, crafting cocktails, and reading a book. Less frequently, you might see me traveling abroad or hitting up the rock climbing gym with some friends.</p>

    <h2>Links</h2>
    <p>I'm trying to keep off of socials except for a few scrolls here and there. Good 'ol fashioned email is the best way to reach me.</p>
    <ul class="full-width-links">
        <li>
            <a href="https://linkedin.com/in/quinntenorio" target="_blank">
                <span>LinkedIn</span>
            </a>
        </li>
        <li>
            <a href="https://github.com/qxorio" target="_blank">
                <span>GitHub</span>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/qxorio" target="_blank">
                <span>BlueSky</span>
            </a>
        </li>
        <li>
            <a href="mailto:hey@quinntenorio.com" target="_blank">
                <span>Email</span>
            </a>
        </li>
        <li>
            <a href="" target="_blank">
                <span>Resume</span>
            </a>
        </li>
    </ul>
</main>
{% endblock %}