---
eleventyComputed: 
    title: "About"
---

{% extends 'layouts/layout.njk' %}

{% block content %}
<main>
    <section class="main-section">
        <h1 class="display-title">About</h1>
        <div class="about-section">
            <div>
                <p>Hey, I'm Quinn Tenorio! For the last two years I have been building web applications as a full stack developer. More recently, I have focused on front end development and started designing UI/UX for web applications.</p>
                <p>I am passionate about designing and building accessible products so that everyone can experience what the web has to offer.</p>
                <p>Outside of the internet, I partake in the occasional book or two, as well as take hikes in the Rocky Mountains.</p>
                <p>You can usually find me across the internet as @qxorio.</p>
            </div>
            <ul class="social-accounts">
                <li>
                    <a href="https://linkedin.com/in/quinntenorio">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/qxorio">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </li>
                <li>
                    <a href="https://stackoverflow.com/users/16042247/qxorio">
                        <i class="fa-brands fa-stack-overflow"></i>
                    </a>
                </li>
                <li>
                    <a href="https://dribbble.com/qxorio">
                        <i class="fa-brands fa-dribbble"></i>
                    </a>
                </li>
                <li>
                    <a href="https://behance.net/qxorio">
                        <i class="fa-brands fa-behance"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/qxorio">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://instagram.com/quinn.tenorio">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="mailto:hey@quinntenor.io">
                        <i class="fa-brands fa-envelope"></i>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</main>
{% endblock %}