---
eleventyComputed: 
    title: "About"
---

{% extends 'layouts/layout.njk' %}

{% block content %}
<main class="inner-content">
    <h1 class="page-title">About</h1>
    <div class="about-section">
        <p>Hey, I'm Quinn Tenorio! For the last two years I have been building web applications as a full stack developer. More recently, I have focused on front end development and started designing UI/UX for web applications.</p>
        <p>I am passionate about designing and building accessible products so that everyone can experience what the web has to offer.</p>
        <p>Outside of the internet, I partake in the occasional book or two, as well as take hikes in the Rocky Mountains.</p>
        <p>You can usually find me across the internet as @qxorio.</p>
        <div class="social-accounts">
            <ul>
                <li>
                    <a href="https://linkedin.com/in/quinntenorio" title="Linkedin">
                        <span aria-hidden="true"><i class="fa-brands fa-linkedin-in"></i></span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/qxorio" title="GitHub">
                        <span aria-hidden="true"><i class="fa-brands fa-github"></i></span>
                    </a>
                </li>
                <li>
                    <a href="https://stackoverflow.com/users/16042247/qxorio" title="Stack Overflow">
                        <span aria-hidden="true"><i class="fa-brands fa-stack-overflow"></i></span>
                    </a>
                </li>
                <li>
                    <a href="https://dribbble.com/qxorio" title="Dribbble">
                        <span aria-hidden="true"><i class="fa-brands fa-dribbble"></i></span>
                    </a>
                </li>
                <li>
                    <a href="https://behance.net/qxorio" title="Behance">
                        <span aria-hidden="true"><i class="fa-brands fa-behance"></i></span>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/qxorio" title="Twitter">
                        <span aria-hidden="true"><i class="fa-brands fa-twitter"></i></span>
                    </a>
                </li>
                <li>
                    <a href="https://instagram.com/quinn.tenorio" title="Instagram">
                        <span aria-hidden="true"><i class="fa-brands fa-instagram"></i></span>
                    </a>
                </li>
                <li>
                    <a href="mailto:hey@quinntenor.io" title="Email">
                        <span aria-hidden="true"><i class="fa-solid fa-envelope"></i></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>
{% endblock %}