---
pagination:
    data: books
    size: 1
    alias: book
    addAllPagesToCollections: true
permalink:  "bookshelf/{{ book.title | slug }}/index.html"
eleventyComputed: 
    title: "{{ book.title }}"
tags: 
    - book
---
{% extends 'layouts/layout.njk' %}

{% block content %}
<main>
    <img src="{{ book.cover }}" alt="{{ book.title }} book cover by {{ book.author }}">
    <h1>{{ book.title }}</h1>
    <h2>{{ book.author }}</h2>
    <p>Read on: <time>{{ book.read }}</time></p>
    <p>Rating: {{ book.rating }}</p>
    <a href="{{ book.review }}">Review on Goodreads</a>
</main>
{% endblock %}