---
eleventyComputed: 
    title: "Bookshelf"
---

{% extends 'layouts/layout.njk' %}

{% block content %}
<main class="inner-content">
    {% set booklist = books %}
    {% include "partials/booklist.njk" %}
</main> 
{% endblock %}