{% extends 'layouts/layout.njk' %}

{% block content %}
<main>
    <h1 class="display-title">I'm Quinn Tenorio, a web developer &amp; UI/UX designer based in Denver, CO. I'm passionate about creating beautiful designs &amp; building accessible websites.</h1>
</main>
{% endblock %}