{% extends 'layouts/layout.njk' %}

{% set index = true %}

{% block content %}
<main class="index">
    <section class="intro">
        <p>is a designer, developer, book-enjoyer, rock climber, ceramic artist, and amateur cocktail creator. He is currently designing custom software solutions.</p>
    </section>
    <section class="about">
        <h2>About</h2>
        <p>For three years I started out building web applications as a full stack developer for a consulting firm. For the last two years however, I have focused on front end development and started designing UI/UX for web applications.</p>
        <p>I am passionate about designing and building accessible products so that everyone can experience what the web has to offer.</p>
        <p>You can usually find me across the internet as @qxorio or via a few links below.</p>
    </section>
    <section>
        <a href="mailto:hey@quinntenor.io">Email</a>
        <a href="https://linkedin.com/in/quinntenorio">LinkedIn</a>
        <a href="https://twitter.com/qxorio">Twitter</a>
        <a href="https://instagram.com/quinn.tenorio">Instagram</a>
    </section>
</main>
{% endblock %}