---
eleventyComputed: 
    title: "Log"
---

{% extends 'layouts/layout.njk' %}

{% block content %}
<main class="logs">
    <h1 class="page-title">Log</h1>
    {% set booklist = books %}
    {% include "partials/booklist.njk" %}
</main>
{% endblock %}