---
pagination:
    data: posts
    size: 1
    alias: post
    addAllPagesToCollections: true
permalink:  "blog/{{ post.title | slug }}/index.html"
eleventyComputed: 
    title: "{{ post.title }}"
    description: "{{ post.description }}"
tags:
    - post
---
{% extends 'layouts/layout.njk' %}

{% block content %}
<main>
    <article class="post-content">
        <header class="post-header">
            <p>
                <time>{{ post.published }}</time>  {{ post.tags.join('<span></span> ') }}
            </p>
            <h1>{{ post.title }}</h1>
        </header>
        <hr>
        {{ post.body | safe }}
    </article>
</main>
{% endblock %}