---
pagination:
    data: posts
    size: 1
    alias: post
    addAllPagesToCollections: true
permalink:  "posts/{{ post.title | slug }}/index.html"
eleventyComputed: 
    title: "{{ post.title }}"
    description: "{{ post.description }}"
tags:
    - post
---
{% extends 'layouts/layout.njk' %}

{% block content %}
<main>
    <article class="post-content">
        <header class="post-header">
            <h1>{{ post.title }}</h1>
            <p>
                <time>{{ post.published }}</time> 
                {% if post.published != post.edited %}
                &mdash; updated <time>{{post.edited}}</time>
                {%endif%}
                &bull; {{ post.tags.join(', ') }}
            </p>
        </header>
        <hr>
        {{ post.body | safe }}
    </article>
</main>
{% endblock %}