---
eleventyComputed: 
    title: "Posts"
---

{% extends 'layouts/layout.njk' %}

{% block content %}
<main>
    {% set postlist = posts %}
    {% include "partials/postlist.njk" %}
</main>
{% endblock %}