---
pagination:
    data: works
    size: 1
    alias: work
    addAllPagesToCollections: true
permalink:  "works/{{ work.title_cleaned | slug }}/index.html"
eleventyComputed: 
    title: "{{ work.title }}"
    description: "{{ work.description }}"
tags:
    - work
---
{% extends 'layouts/layout.njk' %}

{% block content %}
<main class="work-detail">
    <header class="work-header">
        <h1>{{ work.title }}</h1>
        <div>
            <dl>
                <dt class="screen-reader">Category</dt>
                <dd>{{ work.tags.join(' &#8900;' ) }}</dd>
                
                <dt class="screen-reader">Published</dt>
                <dd>{{ work.published }}</dd>
            </dl>
            <p>{{ work.description }}</p>
        </div>
    </header>

    <article class="work-content">
        {{ work.body | safe }}
    </article>
</main>
{% endblock %}