---
eleventyComputed: 
    title: "Works"
---

{% extends 'layouts/layout.njk' %}

{% block content %}
<main class="works">
    {% set worklist = works %}
    <h1 class="page-title">Works</h1>
    {% for work in worklist %}
        <article class="work">
            <div>
                <dl>
                    <dt class="screen-reader">Category</dt>
                    <dd>{{ work.tags.join(' &#8900;' ) }}</dd>
                </dl>
                <h2><a href="/works/{{ work.title_cleaned | slug }}">{{ work.title }}</a></h2>
                <dl>
                    <dt class="screen-reader">Published</dt>
                    <dd>{{ work.published }}</dd>
                </dl>
            </div>
            <p>{{ work.description }}</p>
        </article>
    {% endfor %}
</main>

<script>
    const cards = document.querySelectorAll(".work");
    
    cards.forEach((element) => {
        const mainLink = element.querySelector("a");
        const clickableElements = Array.from(mainLink);

        clickableElements.forEach((elem) =>
            elem.addEventListener("click", (e) => e.stopPropagation())
        );

        element.addEventListener("click", function(event) {
            const noTextSelected = !window.getSelection().toString();
            if (noTextSelected) {
                mainLink.click();
            }
        });
    });
</script>
{% endblock %}