---
eleventyComputed: 
    title: "Works"
---

{% extends 'layouts/layout.njk' %}

{% block content %}
<main class="works">
    {% set worklist = works %}
    <h1 class="page-title">Works</h1>
    {% for work in worklist %}
        <article class="work">
            <div>
                <dl>
                    <dt class="screen-reader">Category</dt>
                    <dd>{{ work.tags.join(' &#8900;' ) }}</dd>
                </dl>
                <h2><a href="/works/{{ work.title | slug }}">{{ work.title }}</a></h2>
                <dl>
                    <dt class="screen-reader">Published</dt>
                    <dd>{{ work.published }}</dd>
                </dl>
            </div>
            <p>{{ work.description }}</p>
        </article>
    {% endfor %}
</main>

<script>
    const card = document.querySelector(".work");
    const mainLink = card.querySelector("a");
    const clickableElements = Array.from(mainLink);

    clickableElements.forEach((ele) =>
        ele.addEventListener("click", (e) => e.stopPropagation())
    );

    function handleClick(event) {
        const noTextSelected = !window.getSelection().toString();
        if (noTextSelected) {
            mainLink.click();
        }
    }

    card.addEventListener("click", handleClick);
</script>
{% endblock %}