html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    color: $secondary-color-dark;
    background-color: $secondary-color-light;
    font-family: $font--text;
    font-size: 1.1rem;
    line-height: 1.2;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $primary-color-light;

    &::after {
        content: "";
        display: block;
        border-bottom: 1px solid $primary-color-light;
        width: 100%;
    }

    &:hover::after {
        width: 0;
    }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $primary-color-medium;
    margin: 1em 0;
    padding: 0;
}

.main-content {
    padding: 0.5em;

    @include screen-query(md) {
        max-width: map-get($breakpoints, md);
        margin: 0 auto;
    }
}

.display-title {
    font-family: $font--text;
    font-size: 2.5em;
    text-align: center;
    font-weight: normal;
    margin: 0.45em 0;
    text-transform: lowercase;

    @include screen-query(sm) {
        font-size: 2.75em;
    }
}

.display-title-with-disclaimer {
    text-align: center;
    margin: 2.5em 0;

    @include headings {
        font-family: $font--text;
        font-size: 2.5em;
        font-weight: normal;
        margin: 0;
        text-transform: lowercase;

        @include screen-query(sm) {
            font-size: 2.75em;
        }
    }

    small {
        font-style: italic;
    }
}

nav {
    text-align: center;
    margin: 1.5em 0 2.5em;
    text-transform: lowercase;

    ul {
        margin: 0.3em 0 0 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;
        margin: 0 0.25em;
        font-weight: bold;
    }

    @include screen-query(md) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.nav-brand {
    font-size: 2.95em;
    display: inline-block;

    @include screen-query(sm) {
        font-size: 3.4em;
    }

    &::after {
        border: none;
        width: 0;
    }
}

.main-section {
    margin-top: 3em;
}

footer {
    margin: 6em 0 1.5em 0;
    text-align: center;
    font-family: $font--text;
}

.post-item {
    margin: 1rem 0;

    a {
        padding: 0.7em 0.7em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $secondary-color-dark;

        background-color: $primary-color-light-10;
        border-radius: 15px;
        border: 1px solid transparent;

        h2 {
            margin: 0;
        }

        :first-child {
            width: 100%;
        }

        :last-child {
            width: 50%;
            text-align: right;
        }

        &:hover {
            background-color: $primary-color-light-25;
        }

        &::after {
            border: none;
            width: 0;
        }
    }
}

.see-more-container {
    overflow: auto;

    a {
        font-weight: bold;
        float: right;
    }
}

.bookshelf {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;

    article {
        a {
            padding: 0.7em 0.7em;
            color: $secondary-color-dark;
            display: flex;
            align-content: center;

            background-color: $primary-color-light-10;
            border-radius: 15px;
            border: 1px solid transparent;

            div {
                text-align: center;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                * {
                    margin-top: 0;
                    margin-bottom: 0.25em;
                }
            }

            img {
                height: 11em;
                margin-right: 0.5em;
            }

            &:hover {
                background-color: $primary-color-light-25;
            }

            &::after {
                border: none;
                width: 0;
            }
        }
    }
}

.social-accounts {
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
    gap: 1rem;
    width: 70%;
    margin: 0 auto;
    margin-top: 2rem;

    li {
        list-style: none;
        margin: 0;

        a {
            padding: 0.7em 0.7em;
            color: $secondary-color-dark;
            display: flex;
            align-content: center;
            justify-content: center;

            background-color: $primary-color-light-10;
            border-radius: 15px;
            border: 1px solid transparent;

            svg {
                width: 1rem;
                height: 1rem;
            }

            span {
                line-height: 1em;
                position: relative;
                top: 1px;
                margin-left: 0.25rem;
            }

            &:hover {
                background-color: $primary-color-light-25;
            }

            &::after {
                border: none;
                width: 0;
            }
        }
    }
}

.about-section {
    p a {
        font-weight: bold;
        display: inline-block;
    }
}

footer a,
.link-styling {
    display: inline-block;
    font-weight: bold;
}
