html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: $default--font-size;
}

html,
body {
    color: #0e0e2b;
    background-color: #dce0f2;
    font-family: $font--text;
}

body {
    padding: 0.75rem;

    @media screen and (min-width: 37.5rem) {
        padding: 2rem;
    }
}

.contents-wrapper {
    background-color: #ffffff;
    padding: 1.25rem;
    border-radius: 1.5rem;
    min-height: calc(100vh - 4rem);
    max-width: 87.5rem;
    margin: 0 auto;

    @media screen and (min-width: 37.5rem) {
        padding: 2rem;
        min-height: calc(100vh - 8rem);
    }
}

@include headings {
    font-family: "New Title", Helvetica, sans-serif;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.1;
}

h2 {
    font-size: 3rem;
}

p {
    margin: 0;
    font-size: 1rem;
    font-weight: 375;
    line-height: 1.3;

    & + p {
        margin-top: 0.75rem;
    }

    @media screen and (min-width: 62rem) {
        font-size: 1.5rem;
    }
}

.index {
    /* h1 {
        font-size: 4rem;
        margin-bottom: 0;

        @media screen and (min-width: 62rem) {
            font-size: 6rem;
        }
    } */

    section {
        & + section {
            margin-top: 1.5rem;
        }
    }
}

img {
    max-width: 100%;
}

a {
    text-underline-offset: 0.1875rem;

    &:hover {
        color: $color--coral;
        text-decoration: none;
    }
}

header svg {
    width: 100%;
    height: auto;
}

/* header:not(.post-header) {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1000;
} */

footer {
    display: flex;
    flex-direction: column;
    align-items: start;

    a {
        font-size: 1.25em;
        font-weight: 800;
        text-transform: uppercase;
        position: relative;
        text-decoration: none;

        &::after {
            content: "";
            position: absolute;
            height: 0.75rem;
            width: 0.75rem;
            background-image: url("/assets/images/arrow.svg");
            background-size: contain;
            background-repeat: no-repeat;
            margin: 0.4375rem 0 0 0.5rem;
            transition: margin 0.5s;
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(110deg) brightness(104%) contrast(101%);
        }

        &:hover {
            &::after {
                color: $color--coral;
                margin: 0.125rem 0 0 0.75rem;
                filter: invert(43%) sepia(93%) saturate(707%) hue-rotate(330deg) brightness(102%) contrast(102%);
            }
        }
    }
}

/* .menu-toggle,
.nav-brand {
    z-index: 1000;
    color: $color--snow;
    transition: color 0.9s ease-in-out;
    cursor: pointer;

    &:hover {
        color: $color--coral;
    }

    &.active {
        color: $color--clay;
    }
} */

/* nav#mobileNav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color--snow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    overflow: hidden;

    &.menu-visible {
        visibility: visible;
    }

    &.menu-move {
        top: 0;
    }

    &.move-in {
        transition: top 0.7s ease-out;
    }

    &.move-out {
        transition: top 0.5s ease-in-out;
    }
} */

/* h1.display-title {
    font-size: 1.25rem;
    margin: 0;
    font-weight: 500;

    span {
        display: block;
        margin-bottom: 0.5rem;
    }
} */

/* .menu-link {
    display: block;
    font-size: 3rem;
    font-weight: 800;
    color: $color--clay;
    position: relative;
    top: -50%;
    opacity: 0;
    text-decoration: none;
    text-transform: uppercase;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }

    &.change {
        top: 0;
        opacity: 1;
    }

    &.move-in {
        transition-property: top, opacity;
        transition-duration: 0.7s;
        transition-timing-function: ease-out;
    }

    &.move-out {
        transition-property: color, top, opacity;
        transition-duration: 0.4s;
        transition-timing-function: ease-in-out;
    }

    &:hover {
        color: $color--coral;
    }

    &.nav-item-active::before {
        content: "";
        position: absolute;
        height: 1.75rem;
        width: 1.75rem;
        background-image: url("/assets/images/blob.svg");
        background-size: contain;
        background-repeat: no-repeat;
        filter: brightness(0) saturate(100%) invert(49%) sepia(60%) saturate(2141%) hue-rotate(333deg) brightness(101%)
            contrast(101%);
        left: calc(1.75rem * -1.5);
        top: 50%;
        transform: translateY(-40%) rotate(180deg);
    }
} */

/*
hr {
    display: block;
    height: 2px;
    border: 0;
    background: $color--teal;
    background: $gradient--horizontal;
    margin: 1.25em 0;
    padding: 0;
}*/

/* nav#desktopNav {
    display: none;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 1rem;

        li {
            font-size: 1.25em;
            font-weight: 800;
            text-transform: uppercase;

            a {
                text-decoration: none;
                position: relative;

                &.nav-item-active::before {
                    content: "";
                    position: absolute;
                    height: 1.25rem;
                    width: 1.25rem;
                    background-image: url("/assets/images/blob.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    filter: brightness(0) saturate(100%) invert(49%) sepia(60%) saturate(2141%) hue-rotate(333deg)
                        brightness(101%) contrast(101%);
                    left: 50%;
                    top: 100%;
                    transform: translateX(-40%) rotate(180deg);
                }
            }
        }
    }

    @media screen and (min-width: 26.25rem) {
        display: block;
    }
} */

/* @media screen and (min-width: 26.25rem) {
    .menu-toggle,
    nav#mobileNav {
        display: none;
    }
} */
