/*@media screen and (-webkit-min-device-pixel-ratio: 0) {}*/
@font-face {
    font-family: "Paper Orange";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/paper-orange/paper-orange.woff2") format("woff2"),
        url("/assets/fonts/paper-orange/paper-orange.woff") format("woff");
}

/* sora-light */
@font-face {
    font-family: "Sora Light";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local(""), url("/assets/fonts/sora/sora-light.woff2") format("woff2"),
        url("/assets/fonts/sora/sora-light.woff") format("woff");
}

/* sora-regular */
@font-face {
    font-family: "Sora";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(""), url("/assets/fonts/sora/sora-regular.woff2") format("woff2"),
        url("/assets/fonts/sora/sora-regular.woff") format("woff");
}

@font-face {
    font-family: "Switzer";
    src: url("/assets/fonts/switzer/Switzer-Variable.woff2") format("woff2 supports variations"),
        url("/assets/fonts/switzer/Switzer-Variable.woff2") format("woff2-variations");
    font-weight: 100 900;
}

@font-face {
    font-family: "New Title";
    src: url("/assets/fonts/new-title/NewTitle-Variable.woff2") format("woff2 supports variations"),
        url("/assets/fonts/new-title/NewTitle-Variable.woff2") format("woff2-variations");
    font-weight: 200 600;
}

@font-face {
    font-family: "Jakarta Sans";
    src: url("/assets/fonts/jakarta-sans/PlusJakartaSans-Variable.woff2") format("woff2 supports variations"),
        url("/assets/fonts/jakarta-sans/PlusJakartaSans-Variable.woff2") format("woff2-variations");
    font-weight: 200 800;
}

@font-face {
    font-family: "Sentient";
    src: url("/assets/fonts/sentient/Sentient-Variable.woff2") format("woff2 supports variations"),
        url("/assets/fonts/sentient/Sentient-Variable.woff2") format("woff2-variations");
    font-weight: 200 600;
}
