/*@media screen and (-webkit-min-device-pixel-ratio: 0) {}*/
@font-face {
    font-family: "Paper Orange";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/paper-orange/paper-orange.woff2") format("woff2"),
        url("/assets/fonts/paper-orange/paper-orange.woff") format("woff");
}

/* sora-light */
@font-face {
    font-family: "Sora Light";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local(""), url("/assets/fonts/sora/sora-light.woff2") format("woff2"),
        url("/assets/fonts/sora/sora-light.woff") format("woff");
}

/* sora-regular */
@font-face {
    font-family: "Sora";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(""), url("/assets/fonts/sora/sora-regular.woff2") format("woff2"),
        url("/assets/fonts/sora/sora-regular.woff") format("woff");
}
