<ul class="full-width-links">
{% for book in booklist %}
    <li>
        <a class="media" href="{{ book.review }}" target="_blank">
            <span class="primary-container {% if book.reading or book.dnf %}flex{% endif %}">
                <span class="title">{{ book.title }}</span>
                {% if book.reading %}
                <span class="reading" aria-hidden="true">Reading now</span>
                {% elif book.dnf %}
                <span class="reading" aria-hidden="true">DNF</span>
                {% else %}
                <span class="rating" aria-hidden="true">
                    {% for star in book.rating %}<i class="fa-solid fa-star"></i>{% endfor %}
                </span>
                {% endif %}
            </span>
            <span class="author">{{ book.author }}</span>
            {% if book.reading %}
            <span class="screen-reader">Reading now</span>
            {% elif book.dnf %}
            <span class="screen-reader">DNF</span>
            {% else %}
            <span class="screen-reader">{{ book.rating | length}} stars</span>
            {% endif%}
        </a>
    </li>
{% endfor %}
</ul>