<h1 class="display-title">Posts</h1>
<div class="post-list">
{% for post in postlist %}
    <article class="post-item">
        <a href="/posts/{{ post.title | slug }}">
            <div>
                <h2>{{ post.title }}</h2>
                <time>{{ post.published }}</time>
            </div>
            <span>{{ post.tags.join(', ') }}</span>
        </a>
    </article>
{% endfor %}
</div>