<h1 class="page-title">Blog</h1>
<div class="post-list">
{% for post in postlist %}
    <article class="post-item">
        <a href="/blog/{{ post.title | slug }}">
            <h2>{{ post.title }}</h2>
            <div>
                <time>{{ post.published }}</time>
                <span>{{ post.tags.join('<span class="fa-solid fa-circle"></span> ') }}</span>
            </div>
            <p>{{ (post.body.substring(3, post.body.indexOf('.')) + '...') }}</p>
        </a>
    </article>
{% endfor %}
</div>